/* HomePage.css */
.full-width-image {
  width: 100vw !important; 
  height: 30vh !important;
  object-fit: cover; 
  top: 0;
  left: 0;
  margin-top: 5%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-container {
  position: absolute;
  top: 0;
  right: 0; /* move the header container to the top right */
  z-index: 1;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.header-buttons {
  display: flex;
  gap: 8px;
}

.header-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header-button:hover {
  background-color: #0067cc;
}

.image-container {
  width: 100%; 
  margin-bottom: 16px;
  /* //overflow: hidden; */
}

.image-container img {
  width: 100%; /* Image spans the full width of its container */
  height: auto; /* Keeps the aspect ratio of the image */
  display: block; /* Removes any default inline spacing */
}

.section {
  width: 100%;
  margin-bottom: 32px;
}

.section h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 200px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 30px 30px 10px;
}

.card h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.card p {
  font-size: 16px;
  margin-bottom: 8px;
}

.card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 25px;
}

.card button:hover {
  background-color: #0067cc;
}

.card:hover {
  transform: scale(1.05); /* Add scale effect on hover */
}
.content-container {
  background-color: rgba(255, 255, 255, 0.531);
  padding: 32px;
  border-radius: 8px;
  z-index: 1;
  width: 90%;
  height: 70vh;
  overflow-y: auto;
}


.plan-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 80vh;
  width: 80vw;
  overflow-y: auto;
  z-index: 11;
}

.plan-modal button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.plan-modal button:hover {
  background-color: #0056b3;
}

.plan-modal h2 {
  margin-bottom: 10px;
}

.plan-modal p {
  margin-bottom: 5px;
}

.plan-modal strong {
  font-weight: bold;
}

.modal-image {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40vh; /* Adjust the width of the cropped image */
  height: 40vh; /* Adjust the height of the cropped image */
  object-fit: cover; /* Crop the image to fit the square window */
  border-radius: 8px;
}

/* moadal cards */

.modal-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 40vw;
}

.modal-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal-card p {
  margin-bottom: 8px;
}

.modal-card button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.modal-card button:hover {
  background-color: #45a049;
}

/* preference card */

.modal-card-preference {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  width: 37.6vw;
}

.modal-card-preference h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal-card-preference p {
  margin-bottom: 8px;
}