body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right,#22a6b3,  #6946c6,#cf23cf,#ff6f69, #ff9d2f,   #ffe02e,   #89ff2e,  #2effb9 );
  background-size: 800% 800%;
  animation: flowingGradient 30s ease-in-out infinite;
}

.login-container {
  background-color: #fff;
  padding: 3rem; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 400px; 
}

.login-header {
  margin-bottom: 1rem;
  color: #333;
}

/* Login Error */
.login-error {
  color: #ff0000;
  margin-bottom: 1rem;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  padding: 0.5rem;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #45a049;
}

.login-link {
  margin-top: 1rem;
}

.login-link a {
  color: #333;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@keyframes flowingGradient {
  0% {
    background-position: 0% 50%;
  }
  10% {
    background-position: 10% 50%;
  }
  20% {
    background-position: 20% 50%;
  }
  30% {
    background-position: 30% 50%;
  }
  40% {
    background-position: 40% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  60% {
    background-position: 60% 50%;
  }
  70% {
    background-position: 70% 50%;
  }
  80% {
    background-position: 80% 50%;
  }
  90% {
    background-position: 90% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  padding-bottom: 20rem;
}
.animation-container {
  margin-bottom: 2rem;
}
.animation-container > div {
  width: 300px;
  height: 300px;
}

