.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 40vw;
  height: 60vh;
  overflow-y: auto;
}

.user-profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-profile h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #333333;
}

.user-profile p {
  margin-bottom: 8px;
  color: #757575;
}

.user-profile ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-profile li {
  margin-bottom: 8px;
}

.user-profile button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.user-profile button:hover {
  background-color: #0056b3;
}

.modal {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding-right: 45px;
}

.modal label {
  display: block;
  margin-bottom: 12px;
  color: #333333;
}

.modal input[type="text"],
.modal input[type="email"],
.modal textarea,
.modal select {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 20px;
}

.modal textarea {
  height: 120px;
}

.modal button {
  background-color: #28a745;
  color: #ffffff;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #218838;
}
.star-rating {
  font-size: 42px; /* Adjust the font size to make stars bigger */
}

.star-rating span {
  color: gold; /* Set the color to gold */
}